@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.cantainer{
  background: linear-gradient(135deg,#4203a9 ,#90bafc);
}
.input-box{
  background: #ffffff4d;
}

.input-box input::-webkit-calendar-picker-indicator {
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% -10px);
background-size: 30px;
cursor: pointer;
 opacity: 0;
}
span{
  color: #ffff76;
}

